<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reid Movie Data Base</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css')}}">
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@600&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar">
		<div class="navbar__container">
			<a href="/views" id="navbar__logo">RMDB</a>
			<div class="navbar__toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<ul class="navbar__menu">
				<li class="navbar__item">
					<a href="/" class="navbar__links">
						Home
					</a>
				</li>
				<li class="navbar__item">
					<a href="/movies" class="navbar__links">
						Movies
					</a>
				</li>
				<li class="navbar__item">
					<a href="/ReidsPicks" class="navbar__links">
						Reid's picks
					</a>
				</li>
				<li class="navbar__item">
					<a href="/about" class="navbar__links">
						About
					</a>
				</li>
				<li class="navbar__btn">
					<a href="/" class="button">
						Sign Up
					</a>
				</li>
			</ul>
		</div>
	</nav>
    <div class="movieSelection">
		<img src="{{movie.poster_url}}" alt="Movie Poster" id="posterT">
		<div class="Mtext">
			<h1>{{movie.title}}</h1>
			<h2>{{movie.director}}</h2>
			<h2>{{genreM}}</h2>
			<h2>{{movie.year}}</h2>
			<div class="rating">
				<img src="{{url_for('static',filename='Rating.png')}}" alt="" id="star">
				<p>{{movie.rating}}</p>
			</div>
		</div>
	</div>
</body>
</html>